@charset "utf-8";
/* CSS Document */

.registrar {
	float: right;
}

.dir {
	width: 89%;
}

.total {
	float: right;
}

.cat {
	float: left;
	width: 60px;
	height: 60px;
	margin: 10px 5px 10px 0px;
}

.venta {
	width: 100%;
}

.total {
	float: right;
}

.precio {
	text-align: right;
}

.show_precio {
	width: 100px;
	text-align: right;
	border: none;
}

.nom {
	width: 30%;
}

.app {
	width: 45%;
}