<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title>FOOD - Promociones</title>

    <link href="../static/css/todo.css" th:href="@{/css/todo.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script type="text/javascript" src="../static/js/script.js" th:src="@{'/js/script.js'}"></script>

    <link href="../static/imgs/icono-2.ico" th:href="@{/imgs/icono-2.ico}" rel="shortcut icon">
</head>
<body>
<nav th:replace="fragments.html :: nav"></nav>

<div class="container">
    <b class="titulo">Consulta de Promociones</b>
    <div th:replace="fragments.html :: rol"></div>
    <hr size=4 color="#CCCCCC">
    <table id="tabla">
        <thead>
        <tr>
            <th onclick="sortTableText(0)">
                Nombre
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th onclick="sortTableDate(1)">
                Desde
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th onclick="sortTableDate(2)">
                Hasta
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th>
                Disponibilidad
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th>
                Alimentos
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th onclick="sortTableNumber(5)">
                Precio
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="promocion : ${promociones}">
            <td th:text="${promocion.nombre}"></td>
            <td th:text="${promocion.fechaI}"></td>
            <td th:text="${promocion.fechaF}"></td>
            <td th:text="${promocion.disponibilidad}"></td>
            <td>
                <select th:each="alimento : ${promocion.alimentos}">
                    <option th:text="${alimento.nombre}"></option>
                </select>
            </td>
            <td th:text="${promocion.precio}"></td>
            <td>
                <a href="#" th:href="@{/promociones/modificarPromocion?id=__${promocion.id}__}">
                    <img class="cross" src="/imgs/pencil-edit-button.png" th:src="@{/imgs/pencil-edit-button.png}">
                </a>
            </td>
            <!--
            <td th:if="${alimento.habilitado == true}">
                <a href="#" th:href="@{/alimentos/borrarAlimento?id=__${alimento.id}__}">
                    <img class="cross" src="/imgs/rubbish-bin.png" th:src="@{/imgs/rubbish-bin.png}">
                </a>
            </td>
            -->
        </tr>
        </tbody>
    </table>
    <a th:href="@{/promociones/registrarPromocion}">
        <button type="submit" class="nuevo">Agregar Nueva Promoción</button>
    </a>
</div>
</body>
</html>