<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title>FOOD - Usuarios</title>

    <link href="../static/css/todo.css" th:href="@{/css/todo.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script type="text/javascript" src="../static/js/script.js" th:src="@{'/js/script.js'}"></script>

    <link href="../static/imgs/icono-2.ico" th:href="@{/imgs/icono-2.ico}" rel="shortcut icon">
</head>
<body>
    <nav th:replace="fragments.html :: nav"></nav>

    <div class="container">
        <b class="titulo">Consulta de Usuarios</b>
        <div th:replace="fragments.html :: rol"></div>
        <hr size=4 color="#CCCCCC">
        <table id="tabla">
            <thead>
                <tr>
                    <th onclick="sortTableText(0)">
                        Usuario
                        <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
                    </th>
                    <th onclick="sortTableText(1)">
                        Nombre
                        <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
                    </th>
                    <th onclick="sortTableText(2)">
                        Apellidos
                        <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
                    </th>
                    <th onclick="sortTableText(4)">
                        Nivel
                        <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.usuario}"></td>
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.apellidos}"></td>
                    <td th:text="${usuario.nivel}"></td>
                    <!--Solo permite editar si el usuario de la tabla es diferente al usuario actual-->
                    <td th:unless="${currentUser == usuario.usuario}">
                        <a href="#" th:href="@{/usuarios/modificarUsuario?usuario=__${usuario.usuario}__}">
                            <img class="cross" src="/imgs/pencil-edit-button.png" th:src="@{/imgs/pencil-edit-button.png}">
                        </a>
                    </td>
                    <!--Si el usuario actual y el usuario en la tabla son iguales, no permite editar-->
                    <td th:if="${currentUser == usuario.usuario}">
                        <img class="cross" src="/imgs/pencil-edit-button.png" th:src="@{/imgs/pencil-edit-button.png}" style="cursor: not-allowed">
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/usuarios/registrarUsuario}">
            <button type="submit" class="nuevo">Agregar Nuevo Usuario</button>
        </a>
    </div>
</body>
</html>