<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title>FOOD - Clientes</title>

    <link href="../static/css/todo.css" th:href="@{/css/todo.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script type="text/javascript" src="../static/js/script.js" th:src="@{'/js/script.js'}"></script>

    <link href="../static/imgs/icono-2.ico" th:href="@{/imgs/icono-2.ico}" rel="shortcut icon">
</head>
<body>
<nav>
    <img class="logo" src="/imgs/logo.jpg" th:src="@{/imgs/logo.jpg}">
    <span class="menu-item"><a href="/../venta"><b>Venta</b></a></span>
    <hr class="menu-separator" size=2 color="#FFFF66">
    <span class="menu-item"><a href="/../alimentos/consultaAlimentos"><b>Alimentos</b></a></span>
    <!--
    <span class="menu-item" onClick="show('al','f1')"><img class="arrow" id="f1" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Alimentos</b></span>
    <div class="submenu" id="al">
        <ul>
            <li><a href="/../alimentos/registrarAlimento">Registro</a></li>
            <li><a href="/../alimentos/consultaAlimentos">Consulta</a></li>
        </ul>
    </div>
    -->
    <span class="menu-item"><a href="/../promociones/consultaPromociones"><b>Promociones</b></a></span>
    <!--
    <span class="menu-item" onClick="show('pr','f2')"><img class="arrow" id="f2" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Promociones</b></span>
    <div class="submenu" id="pr">
        <ul>
            <li><a href="/../promociones/registrarPromocion">Registro</a></li>
            <li><a href="/../promociones/consultaPromociones">Consulta</a></li>
        </ul>
    </div>
    -->
    <span class="menu-item"><a href="/../clientes/consultaClientes"><b>Clientes</b></a></span>
    <!--
    <span class="menu-item" onClick="show('cl','f3')"><img class="arrow" id="f3" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Clientes</b></span>
    <div class="submenu" id="cl">
        <ul>
            <li><a href="/../clientes/modificarCliente">Modificación</a></li>
        </ul>
    </div>
    -->
    <hr class="menu-separator" size=2 color="#FFFF66">
    <span class="menu-item"><a href="/../gasto/muestraGasto"><b>Registro de Gastos</b></a></span>
    <hr class="menu-separator" size=2 color="#FFFF66">
    <span class="menu-item"><a href="/../corteCaja/actual"><b>Corte de Caja</b></a></span>
    <span class="menu-item"><a href="/../corteCaja/historial"><b>Historial de Corte</b></a></span>
    <!--
    <span class="menu-item" onClick="show('cc','f4')"><img class="arrow" id="f4" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Corte de Caja</b></span>
    <div class="submenu" id="cc">
        <ul>
            <li><a href="/../corteCaja/actual">Generar actual</a></li>
            <li><a href="/../corteCaja/historial">Consultar historial</a></li>
        </ul>
    </div>
    -->
    <hr class="menu-separator" size=2 color="#FFFF66">
    <span class="menu-item"><a href="/../configuracion/sistema"><b>Configuración</b></a></span>
    <span class="menu-item"><a href="/../configuracion/acceso"><b>Control Usuarios</b></a></span>
    <!--
    <span class="menu-item" onClick="show('co','f5')"><img class="arrow" id="f5" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Configuración</b></span>
    <div class="submenu" id="co">
        <ul>
            <li><a href="/../configuracion/sistema">Sistema</a></li>
            <li><a href="/../configuracion/acceso">Acceso</a></li>
        </ul>
    </div>
    -->
</nav>
<div class="container">
    <b class="titulo">Consulta de Clientes</b>
    <div class="rol">
        <a href="#">
            <img class="icon" src="/imgs/logout.png" th:src="@{/imgs/logout.png}">
        </a>
        <b>Gerente</b>
    </div>
    <hr size=4 color="#CCCCCC">
    <table id="tabla">
        <thead>
        <tr>
            <th onclick="sortTableNumber(0)">
                Teléfono
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th onclick="sortTableText(1)">
                Nombre
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th onclick="sortTableText(2)">
                Apellidos
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <!--
            <th onclick="sortTableText(3)">
                Dirección
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th onclick="sortTableText(4)">
                Correo
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th onclick="sortTableText(5)">
                RFC
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th onclick="sortTableNumber()">
                Puntos
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            -->
            <th onclick="sortTableNumber(3)">
                Puntos
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.telefono}"></td>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.apellidos}"></td>
            <!--
            <td th:text="${cliente.direccion}"></td>
            <td th:text="${cliente.correo}"></td>
            <td th:text="${cliente.RFC}"></td>
            -->
            <td th:text="${cliente.puntos}"></td>
            <td>
                <a href="#" th:href="@{/clientes/consultaInfo?id=__${cliente.telefono}__}">
                    <img class="cross" src="/imgs/view.png" th:src="@{/imgs/view.png}">
                </a>
            </td>
            <td>
                <a href="#" th:href="@{/clientes/modificarCliente?id=__${cliente.telefono}__}">
                    <img class="cross" src="/imgs/pencil-edit-button.png" th:src="@{/imgs/pencil-edit-button.png}">
                </a>
            </td>
            <!--
            <td class="disabled" th:if="${alimento.habilitado == false}">
                <a href="#" th:href="@{/alimentos/borrarAlimento?id=__${alimento.id}__}">
                    <img class="cross" src="/imgs/rubbish-bin.png" th:src="@{/imgs/rubbish-bin.png}">
                </a>
            </td>
            -->
        </tr>
        </tbody>
    </table>
    <a th:href="@{/clientes/registrarCliente}">
        <button type="submit" class="nuevo">Agregar Nuevo Cliente</button>
    </a>
</div>
</body>
</html>