<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title>FOOD - Tamaños</title>

    <link href="../static/css/todo.css" th:href="@{/css/todo.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script type="text/javascript" src="../static/js/script.js" th:src="@{'/js/script.js'}"></script>

    <link href="../static/imgs/icono-2.ico" th:href="@{/imgs/icono-2.ico}" rel="shortcut icon">
</head>
<body>
<nav th:replace="fragments.html :: nav"></nav>

<div class="container">
    <b class="titulo">Consulta de Tamaños</b>
    <div th:replace="fragments.html :: rol"></div>
    <hr size=4 color="#CCCCCC">
    <table id="tabla">
        <thead>
        <tr>
            <th onclick="sortTableNumber(0)">
                Valor
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th onclick="sortTableText(1)">
                Nombre
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>

            <!--Quite esa parte por problemas a la hora de mostrarlos por la categoria seleccionada
            <th onclick="sortTableText(2)">
                Categoría
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>-->
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tamano : ${tamanos}">

            <td th:if="${tamano.habilitado == true}" th:text="${tamano.valor}"></td>
            <td th:if="${tamano.habilitado == true}" th:text="${tamano.nombre}"></td>

            <!--Quite esa parte por problemas a la hora de mostrarlos por la categoria seleccionada
            <td th:if="${tamano.habilitado == true}" th:text="${tamano.nombre_Categoria}"></td>-->

            <td th:if="${tamano.habilitado == true}">
                <a href="#" th:href="@{/idManager/registrarTamano?valor=__${tamano.valor}__}">
                    <img class="cross" src="/imgs/pencil-edit-button.png" th:src="@{/imgs/pencil-edit-button.png}">
                </a>
            </td>

            <td class="disabled" th:if="${tamano.habilitado == false}" th:text="${tamano.valor}"></td>
            <td class="disabled" th:if="${tamano.habilitado == false}" th:text="${tamano.nombre}"></td>

            <!--Quite esa parte por problemas a la hora de mostrarlos por la categoria seleccionada
            <td class="disabled" th:if="${tamano.habilitado == false}" th:text="${tamano.nombre_Categoria}"></td>-->

            <td class="disabled" th:if="${tamano.habilitado == false}">
                <a href="#" th:href="@{/idManager/registrarTamano?valor=__${tamano.valor}__}">
                    <img class="cross" src="/imgs/pencil-edit-button.png" th:src="@{/imgs/pencil-edit-button.png}">
                </a>
            </td>
            </td>

        </tr>
        </tbody>
    </table>
    <div th:if="${exists}"><a href="#" th:href="@{/idManager/registrarTamano}">
        <button type="submit" class="nuevo">Agregar Nuevo Tamaño</button>
    </a></div>
    <div th:if="${!exists}">
        <button type="submit" class="nuevo btnDesactivado" onclick="redirectCategoria()">Agregar Nuevo Tamaño</button>
    </div>
</div>
</body>
</html>