<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title>FOOD - Clientes</title>

    <link href="../static/css/todo.css" th:href="@{/css/todo.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script type="text/javascript" src="../static/js/script.js" th:src="@{'/js/script.js'}"></script>

    <link href="../static/imgs/icono-2.ico" th:href="@{/imgs/icono-2.ico}" rel="shortcut icon">
</head>
<body>
<nav th:replace="fragments.html :: nav"></nav>

<div class="container">
    <b class="titulo">Consulta de Clientes</b>
    <div th:replace="fragments.html :: rol"></div>
    <hr size=4 color="#CCCCCC">
    <table id="tabla">
        <thead>
        <tr>
            <th onclick="sortTableNumber(0)">
                Teléfono
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th onclick="sortTableText(1)">
                Nombre
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th onclick="sortTableText(2)">
                Apellidos
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th onclick="sortTableNumber(3)">
                Puntos
                <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
            </th>
            <th><!--Columna para visualizar información--></th>
            <th><!--Columna para modificar información--></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.telefono}"></td>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.apellidos}"></td>
            <td th:text="${cliente.puntos}"></td>
            <td>
                <img th:id="'v-' + ${cliente.telefono}" class="cross" src="/imgs/view.png" th:src="@{/imgs/view.png}" onclick="mostrar(this.id)">
            </td>
            <td>
                <a href="#" th:href="@{/venta/modificarCliente?telefono=__${cliente.telefono}__}">
                    <img class="cross" src="/imgs/pencil-edit-button.png" th:src="@{/imgs/pencil-edit-button.png}">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/venta}">
        <button type="submit" class="nuevo">Agregar Nuevo Cliente</button>
    </a>
</div>
<div class="viewer-client" th:each="cliente : ${clientes}" th:id="'v' + ${cliente.telefono}">
    <button th:id="'v*' + ${cliente.telefono}" class="viewer-button" onclick="ocultar(this.id)">X</button>
    <table>
        <thead class="show-client">
            <th class="show-client" colspan="7">
                DATOS DEL CLIENTE
            </th>
        </thead>
        <tbody>
        <tr>
            <td>Teléfono:</td>
            <td colspan="6" th:text="${cliente.telefono}"></td>
        </tr>

        <tr>
            <td>Nombre:</td>
            <td colspan="6" th:text="${cliente.nombre} + ' ' + ${cliente.apellidos}"></td>
        </tr>

        <tr>
            <td>Correo:</td>
            <td colspan="6" th:text="${cliente.correo}"></td>
        </tr>

        <tr>
            <td>Dirección:</td>
            <td colspan="6" th:text="${cliente.direccion}"></td>
        </tr>

        <tr>
            <td>RFC:</td>
            <td colspan="4" th:text="${cliente.RFC}"></td>
            <td>Puntos:</td>
            <td th:text="${cliente.puntos}"></td>
        </tr>
        <tr>
            <td class="last"><!--Celda para crear espacio--></td>
            <td class="last"><!--Celda para crear espacio--></td>
            <td class="last"><!--Celda para crear espacio--></td>
            <td class="last"><!--Celda para crear espacio--></td>
            <td class="last"><!--Celda para crear espacio--></td>
            <td class="last"><!--Celda para crear espacio--></td>
            <td class="last"><!--Celda para crear espacio--></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>