<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>FOOD - Historial de Corte de Caja</title>
    <link href="../static/css/todo.css" th:href="@{/css/todo.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script type="text/javascript" src="../static/js/script.js" th:src="@{'/js/script.js'}"></script>

    <link href="../static/imgs/icono-2.ico" th:href="@{/imgs/icono-2.ico}" rel="shortcut icon">
</head>
<body>
    <nav th:replace="fragments.html :: nav"></nav>

    <div class="container">
        	<b class="titulo">Consulta de Historial de Corte de Caja</b>
        <div th:replace="fragments.html :: rol"></div>
            <hr size=4 color="#CCCCCC">
            <table id="tabla">
                <thead>
                    <tr>
                        <th onclick="sortTableDate(0)">
                            Fecha
                            <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
                        </th>
                        <th onclick="sortTableNumber(1)">
                            Corte
                            <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
                        </th>
                        <th onclick="sortTableText(2)">
                            Elaboró
                            <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
                        </th>
                        <th onclick="sortTableText(3)">
                            Revisión
                            <img class="cross-right" src="/imgs/sort-arrows.png" th:src="@{/imgs/sort-arrows.png}">
                        </th>
                        <th><!--Encabezado para visualizar--></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="corteCaja : ${cortes}">
                    	<td th:text="${corteCaja.fecha}"></td>
                        <td th:text="${corteCaja.corte}"></td>
                        <td th:text="${corteCaja.elaboro}"></td>
                        <td>
                            <img class="cross" src="/imgs/exclamation-mark.png" th:src="@{/imgs/exclamation-mark.png}">
                            <span class="important" th:text="${corteCaja.reviso}"></span>
                        </td>
                        <td><img th:id="'v-' + ${corteCaja.id}" class="cross" src="/imgs/view.png" th:src="@{/imgs/view.png}" onclick="mostrar(this.id)"></td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div class="viewer" th:each="pdf : ${pdfs}" th:id="'v' + ${pdf.id}">
        <button th:id="'v*' + ${pdf.id}" onclick="ocultar(this.id)" class="viewer-button">X</button>
        <embed th:src="@{${pdf.ruta}}" type="application/pdf">
    </div>
</body>
</html>
