<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>FOOD - Registro de Gastos</title>
		<link href="../static/css/todo.css" th:href="@{/css/todo.css}" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link href="../static/imgs/icono-2.ico" th:href="@{/imgs/icono-2.ico}" rel="shortcut icon">
	</head>
	<body>
	<nav th:replace="fragments.html :: nav"></nav>

        <div class="container">
        	<b class="titulo">Registro de Gastos</b>
			<div class="rol">
				<a href="#">
					<img class="icon" src="/imgs/logout.png" th:src="@{/imgs/logout.png}">
				</a>
				<b>Gerente</b>
			</div>
			<form action="#" th:action="@{/gasto/addgasto}" th:object="${gastoModel}" method="post" onsubmit="return validar()">
            <hr size=4 color="#CCCCCC">
				<input type="hidden" th:field="*{id}">
            Ingrese los siguientes datos de los gastos
            <br><br>
            Descripción:
            <input id="descripcion" class="nombre" type="text" th:field="*{descripcion}" th:value="${descripcion}" required>
            <br>
            Monto:
            <input  id="monto" class="precio" type="number" th:field="*{monto}" th:value="${monto}" min="0" step=".01" required>
            <br>
			Tipo:
				<select id ="tipo" th:field="*{tipo}" required>
					<option value="C" text="C"> Compra </option>
					<option value="P" text="*P"> Pago </option>
				</select>
				<br>
				<script>
					function validar() {
						var descripcion, tipo, monto;
						descripcion = document.getElementById("descripcion").value;
						monto = document.getElementById("monto").value;
						tipo = document.getElementById("tipo").value;
						if (monto.length!=0&&descripcion!=""&&tipo!=""){
							alert("agregado exitosamente");
							return true;
						}
					}
				</script>

            <input class="yellow" type="submit" value="Guardar"onclick="validar()">
			</form>
       	</div>


    </body>
</html>
