<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <title>FOOD - Registrar Usuario</title>
    <link href="../static/css/todo.css" th:href="@{/css/todo.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script type="text/javascript" src="../static/js/script.js" th:src="@{'/js/script.js'}"></script>
    <link href="../static/imgs/icono-2.ico" th:href="@{/imgs/icono-2.ico}" rel="shortcut icon">
</head>
<body>
<nav th:replace="fragments.html :: nav"></nav>

<div class="container">
    <b class="titulo">Registro de Usuario</b>
    <div class="rol">
        <a href="#">
            <img class="icon" src="/imgs/logout.png" th:src="@{/imgs/logout.png}">
        </a>
        <b>Gerente</b>
    </div>
    <hr size=4 color="#CCCCCC">
    <form action="#" th:action="@{/usuarios/addUsuario}" th:object="${usuarioModel}" method="post">
        Nombre del usuario:
        <input id="nombre" type="text" class="nom" th:field="*{nombre}" th:value="${nombre}" placeholder="Nombre(s)">
        <input id="apellido" type="text" class="app" th:field="*{apellidos}" th:value="${apellidos}" placeholder="Apellido(s)"><br>
        Usuario:
        <input id="usuario" type="text" class="app" th:field="*{usuario}" th:value="${usuario}" placeholder="Usuario"><br>
        Password:
        <input id="password" type="password" class="app" th:field="*{password}" th:value="${password}"><br>
        Nivel:
        <input id="nivel" type="text" class="app" th:field="*{nivel}" th:value="${nivel}" placeholder="Nivel"><br>

        <input class="green" type="submit" value="Registrar Usuario" >

    </form>
    <a th:href="@{/usuarios/cancel}">
        <button class="red" type="submit">Cancelar Registro</button>
    </a>
</div>
</body>
</html>