<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>FOOD - Modificar cliente</title>
		<link href="../static/css/todo.css" th:href="@{css/todo.css}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link href="../static/imgs/icono-2.ico" th:href="@{/imgs/icono-2.ico}" rel="shortcut icon">
	</head>
	<body>
	<nav th:replace="fragments.html :: nav"></nav>

        <div class="container">
        	<b class="titulo">Modificación de cliente</b>
			<div th:replace="fragments.html :: rol"></div>
            <hr size=4 color="#CCCCCC">
       	</div>
    </body>
</html>
