<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title>FOOD - Registro Nombre</title>

    <link href="../static/css/todo.css" th:href="@{/css/todo.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script type="text/javascript" src="../static/js/script.js" th:src="@{'/js/script.js'}"></script>

    <link href="../static/imgs/icono-2.ico" th:href="@{/imgs/icono-2.ico}" rel="shortcut icon">
</head>
<body>
    <nav th:replace="fragments.html :: nav"></nav>
    <div class="container">
        <b class="titulo">Registro de Nombre</b>
        <div th:replace="fragments.html :: rol"></div>
        <hr size=4 color="#CCCCCC">
        <div class="jumbotron">
            <form action="#" th:action="@{/idManager/addNombre}" th:object="${nombreModel}" method="post" >
                <input type="hidden" th:field="*{valor}">
                <!--Quite esta parte por problemas a la hora de mostrarlos por la categoria seleccionada
                Categoria:
                <select th:if="${!edit}" th:field="*{valor_Categoria}">
                    <option th:each="categoria : ${categorias}" th:value="${categoria.valor}" th:text="${'[' + categoria.valor + '] ' + categoria.nombre}"></option>
                </select>
                <input class="invalido" th:value="${nombreModel.nombre_Categoria}" th:if="${edit}">
                <br>-->
                Nombre:
                <input type="text" id="nombre" th:field="*{nombre}" th:value="${nombre}" required/>
                Habilitado: <input type="checkbox" th:value="${habilitado}" th:field="*{habilitado}">
                <br>
                <input class="green" type="submit" value="Guardar"  onclick="validar()">
                <script>
                    function validar() {
                        var nombre;
                        nombre = document.getElementById("nombre").value;
                        if (nombre!=""){
                            alert("Agregado exitosamente");
                            return true;
                        }
                    }
                </script>
            </form>
            <a th:href="@{/idManager/cancelNombre}">
                <button class="red" type="submit">Cancelar</button>
            </a>
        </div>
    </div>
</body>
</html>