<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>FOOD - Registro de Promociones</title>
		<link href="../static/css/promociones.css" th:href="@{/css/promociones.css}" rel="stylesheet" type="text/css">
		<link href="../static/css/todo.css" th:href="@{/css/todo.css}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <script type="text/javascript" src="../static/js/script.js" th:src="@{'js/script.js'}"></script>
	</head>
	<body>
    <nav>
        <img class="logo" src="/imgs/logo.jpg" th:src="@{/imgs/logo.jpg}">
        <span class="menu-item"><a href="venta.html"><b>Venta</b></a></span>
        <hr class="menu-separator" size=2 color="#FFFF66">
        <span class="menu-item" onClick="show('al','f1')"><img class="arrow" id="f1" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Alimentos</b></span>
        <div class="submenu" id="al">
            <ul>
                <li><a href="registrarAlimento.html">Registro</a></li>
                <li><a href="modificarAlimento.html">Modificación</a></li>
                <li><a href="eliminarAlimento.html">Eliminación</a></li>
            </ul>
        </div>
        <span class="menu-item" onClick="show('pr','f2')"><img class="arrow" id="f2" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Promociones</b></span>
        <div class="submenu" id="pr">
            <ul>
                <li><a href="registrarPromocion.html">Registro</a></li>
                <li><a href="modificarPromocion.html">Modificación</a></li>
            </ul>
        </div>
        <span class="menu-item" onClick="show('cl','f3')"><img class="arrow" id="f3" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Clientes</b></span>
        <div class="submenu" id="cl">
            <ul>
                <li><a href="modificarCliente.html">Modificación</a></li>
            </ul>
        </div>
        <span class="menu-item"><a href="gastos.html"><b>Registro de Gastos</b></a></span>
        <hr class="menu-separator" size=2 color="#FFFF66">
        <span class="menu-item" onClick="show('cc','f4')"><img class="arrow" id="f4" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Corte de Caja</b></span>
        <div class="submenu" id="cc">
            <ul>
                <li><a href="corteCaja.html">Generar actual</a></li>
                <li><a href="corteCajaHistorial.html">Consultar historial</a></li>
            </ul>
        </div>
        <span class="menu-item" onClick="show('co','f5')"><img class="arrow" id="f5" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Configuración</b></span>
        <div class="submenu" id="co">
            <ul>
                <li><a href="configSis.html">Sistema</a></li>
                <li><a href="configAcceso.html">Acceso</a></li>
            </ul>
        </div>
    </nav>
        <div class="container">
        	<b class="titulo">Registro de Promoción</b>
			<div class="rol">
				<a href="#">
					<img class="icon" src="/imgs/logout.png" th:src="@{/imgs/logout.png}">
				</a>
				<b>Gerente</b>
			</div>
            <hr size=4 color="#CCCCCC">
            <form action="#" th:action="@{/promocion/addpromocion}" th:object="${promocionModel}" method="post">
                <input type="hidden" th:field="*{id}">
            Nombre de la promoción:
                <input type="text" size="70" th:field="*{nombre}" th:value="${nombre}">
            <hr size=4 color="#CCCCCC">
            <aside>
            <table>
                		<thead>
                    		Dúo 2 x 1 <img class="list" src="/imgs/check-list.png" th:src="@{/imgs/check-list.png}">
                    	</thead>
                    	<hr size=4 color="#CCCCCC">
                    	<tbody>
                    		<tr>
                    			<th>Cantidad</th>
                            	<th>Descripción</th>
                                <th></th>
                        	</tr>
                        	<tr>
                        		<td>2</td>
                            	<td>Pizza Personal</td>
                                <td><img class="cross" src="/imgs/cancel.png" th:src="@{/imgs/cancel.png}"><td>
                        	</tr>
                        	<tr>
                        		<td>1</td>
                            	<td>Agua del día</td>
                                <td><img class="cross" src="/imgs/cancel.png" th:src="@{/imgs/cancel.png}"><td>
                        	</tr>
                    	</tbody>
                	</table>
            </aside>
            Alimentos que aplican:<input type="text" th:field="*{alimentos}" th:value="${alimentos}"></input>
                <select>
            <option value="id">Pizza Personal</option>
            </select>
            <img class="cross" src="/imgs/plus.png" th:src="@{/imgs/plus.png}">
            <br>
            Precio: $
                <input class="precio" type="number"th:field="*{precio}" th:value="${precio}">
            <br><br>
            Vigencia:
            <br>
            Fecha Inicio:
            <input type="date" th:field="*{fechaI}" th:value="${fechaI}">
            <br>
            Fecha Fin:
            <input type="date" th:field="*{fechaF}" th:value="${fechaF}">
            <br><br>
            Disponibilidad:
            <br>
            <input type="checkbox" value="L" th:field="*{disponibilidad}" th:value="${disponibilidad}">Lunes<br>
            <input type="checkbox" value="M" th:field="*{disponibilidad}" th:value="${disponibilidad}">Martes<br>
            <input type="checkbox" value="X" th:field="*{disponibilidad}" th:value="${disponibilidad}">Miércoles<br>
            <input type="checkbox" value="J" th:field="*{disponibilidad}" th:value="${disponibilidad}">Jueves<br>
            <input type="checkbox" value="V" th:field="*{disponibilidad}" th:value="${disponibilidad}">Viernes<br>
            <input type="checkbox" value="S" th:field="*{disponibilidad}" th:value="${disponibilidad}">Sábado<br>
            <input type="checkbox" value="D" th:field="*{disponibilidad}" th:value="${disponibilidad}">Domingo<br>
            <form>
        		<input class="green"  value="guardar"  type="submit">
                <input class="red" type="submit" value="Cancelar registro">
        	</form>
       	</div>
    </body>
</html>
