<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>FOOD - Registrar Alimentos</title>

		<link href="../static/css/todo.css" th:href="@{/css/todo.css}" rel="stylesheet" type="text/css">
		<link href="../static/css/alimentos.css" th:href="@{/css/alimentos.css}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link href="../static/imgs/icono-2.ico" th:href="@{/imgs/icono-2.ico}" rel="shortcut icon">
		<script type="text/javascript" src="../static/js/script.js" th:src="@{'/js/script.js'}"></script>
		<script type = "text/javascript" src="../static/js/fuzzyset.js"></script>
	</head>
	<body>
	<nav>
		<img class="logo" src="/imgs/logo.jpg" th:src="@{/imgs/logo.jpg}">
		<span class="menu-item"><a href="/../venta/venta"><b>Venta</b></a></span>
		<hr class="menu-separator" size=2 color="#FFFF66">
		<span class="menu-item" onClick="show('al','f1')"><img class="arrow" id="f1" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Alimentos</b></span>
		<div class="submenu" id="al">
			<ul>
				<li><a href="/../alimentos/registrarAlimento">Registro</a></li>
				<li><a href="/../alimentos/modificarAlimento">Modificación</a></li>
				<li><a href="/../alimentos/eliminarAlimento">Eliminación</a></li>
			</ul>
		</div>
		<span class="menu-item" onClick="show('pr','f2')"><img class="arrow" id="f2" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Promociones</b></span>
		<div class="submenu" id="pr">
			<ul>
				<li><a href="/../promociones/registrarPromocion">Registro</a></li>
				<li><a href="/../promociones/modificarPromocion">Modificación</a></li>
			</ul>
		</div>
		<span class="menu-item" onClick="show('cl','f3')"><img class="arrow" id="f3" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Clientes</b></span>
		<div class="submenu" id="cl">
			<ul>
				<li><a href="/../clientes/modificarCliente">Modificación</a></li>
			</ul>
		</div>
		<span class="menu-item"><a href="/../gasto/muestraGasto"><b>Registro de Gastos</b></a></span>
		<hr class="menu-separator" size=2 color="#FFFF66">
		<span class="menu-item" onClick="show('cc','f4')"><img class="arrow" id="f4" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Corte de Caja</b></span>
		<div class="submenu" id="cc">
			<ul>
				<li><a href="/../corteCaja/actual">Generar actual</a></li>
				<li><a href="/../corteCaja/historial">Consultar historial</a></li>
			</ul>
		</div>
		<span class="menu-item" onClick="show('co','f5')"><img class="arrow" id="f5" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Configuración</b></span>
		<div class="submenu" id="co">
			<ul>
				<li><a href="/../configuracion/sistema">Sistema</a></li>
				<li><a href="/../configuracion/acceso">Acceso</a></li>
			</ul>
		</div>
	</nav>
        <div class="container">
        	<b class="titulo">Registro de Alimentos</b>
			<div class="rol">
				<a href="#">
					<img class="icon" src="/imgs/logout.png" th:src="@{/imgs/logout.png}">
				</a>
				<b>Gerente</b>
			</div>
            <hr size=4 color="#CCCCCC">
				<div class="jumbotron">
					<form action="#" th:action="@{/alimentos/addAlimento}" th:object="${alimentoModel}" method="POST">
						Nombre:
                        <!--IGNORAR EL ERROR -->
						<input list="nombres" size="35" th:value="${nombre}" th:field="*{nombre}" required>
						Categoria:
                        <!--IGNORAR EL ERROR -->
						<input list="categorias" size="35" th:value="${categoria}" th:field="*{categoria}" required autocomplete="">
						<br>
						<hr size=4 color="#CCCCCC">
						<div class="left">
							Ingredientes:
							<br><br>
                            <!--IGNORAR EL ERROR -->
							<textarea name="ingredientes" th:value="${ingredientes}" th:field="*{ingredientes}"></textarea>
						</div>
						<div class="right">
                                <!--IGNORAR EL ERROR -->
								Tamaño: <input list="tamanos" size="25" th:value="${tamano}" th:field="*{tamano}" required>
							<br><br>
                                <!--IGNORAR EL ERROR -->
								Precio: $<input class="precio" type="number" th:value="${precio}" th:field="*{precio}" min="0.0" step="any">
						</div>
						<input class="green" type="submit" value="Registrar">
					</form>
					<a th:href="@{/alimentos/cancel}">
						<button class="red" type="submit">Cancelar Registro</button>
					</a>
				</div>
			</div>

		<!--Datalists-->
		<datalist id="nombres">
			<option th:each="nombre : ${nombres}" th:value="${nombre.nombre}">
		</datalist>

		<datalist id="categorias">
			<option th:each="categoria : ${categorias}" th:value="${categoria.nombre}">
			<!--<option value="Pizza">
			<option value="Panini">
			<option value="Pasta">
			<option value="Bebida">
			<option value="Entrada">-->
		</datalist>

		<datalist id="tamanos" >
			<option th:each="tamano : ${tamanos}" th:value="${tamano.nombre}">
			<!--<option value="Tamaño Unico">
			<option value="Rebanada">
			<option value="Personal">
			<option value="14&quot;">
			<option value="16&quot;">
			<option value="18&quot;">
			<option value="Individual">
			<option value="Para Compartir">
			<option value="Chica">
			<option value="Mediana">
			<option value="Grande">
			<option value="1/2 Orden">
			<option value="Orden">-->
		</datalist>
    </body>
</html>
