<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>FOOD - Registrar Alimentos</title>

		<link href="../static/css/todo.css" th:href="@{/css/todo.css}" rel="stylesheet" type="text/css">
		<link href="../static/css/alimentos.css" th:href="@{/css/alimentos.css}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link href="../static/imgs/icono-2.ico" th:href="@{/imgs/icono-2.ico}" rel="shortcut icon">

		<!--RESPETAR EL ORDEN EN LOS QUE SE IMPORTAN LOS SCRIPT-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/script.js" th:src="@{'/js/script.js'}"></script>
	</head>
	<body>
	<nav th:replace="fragments.html :: nav"></nav>

        <div class="container">
        	<b class="titulo">Registro de Alimentos</b>
			<div class="rol">
				<a href="#">
					<img class="icon" src="/imgs/logout.png" th:src="@{/imgs/logout.png}">
				</a>
				<b>Gerente</b>
			</div>
            <hr size=4 color="#CCCCCC">
				<div class="jumbotron">
					<form action="#" th:action="@{/alimentos/addAlimento}" th:object="${alimentoModel}" method="POST" onsubmit="return validar()">
						Categoria:
						<select id="selectCategoria" th:field="*{categoria_Valor}" required>
							<option th:each="categoria : ${categorias}" th:value="${categoria.valor}"
									th:text="${categoria.nombre}" th:title="${'Valor: '+categoria.valor}"></option>
						</select>
                        <a href="#" onclick="addCategoria()" title="Añadir Categoría" >
							<img class="cross" src="/imgs/plus.png" th:src="@{/imgs/plus.png}">
						</a>
						Nombre:
						<select id="selectNombre" th:field="*{nombre_Valor}" required>
							<option th:each="nombre : ${nombres}" th:value="${nombre.valor}"
									th:text="${nombre.nombre}" th:title="${'Valor: ' + nombre.valor}" ></option>
						</select>
						<a href="#" onclick="addNombre()" title="Añadir Nombre">
							<img class="cross" src="/imgs/plus.png" th:src="@{/imgs/plus.png}">
						</a>
						Tamaño:
						<select id="selectTamano" th:field="*{tamano_Valor}" required>
							<option th:each="tamano : ${tamanos}" th:value="${tamano.valor}"
									th:text="${tamano.nombre}" th:title="${'Valor: ' + tamano.valor}"></option>
						</select>
						<a href="#" onclick="addTamano()" title="Añadir Tamaño">
							<img class="cross" src="/imgs/plus.png" th:src="@{/imgs/plus.png}">
						</a>
						<br>
						<hr size=4 color="#CCCCCC">
						<div class="left">
							Descripción:
							<br><br>
                            <!--IGNORAR EL ERROR -->
							<textarea id="descripcion" name="descripcion" th:value="${descripcion}" th:field="*{descripcion}"></textarea>
						</div>
						<div class="right">
                                <!--IGNORAR EL ERROR -->
								Precio: $<input id="precio" class="precio" type="number" th:value="${precio}" th:field="*{precio}" min="0.0" step=".01">
						</div>

						<script>
							function validar() {
								var nombre, categoria, precio, tamaño,descripcion;
								descripcion = document.getElementById("descripcion").value;
								precio = document.getElementById("precio").value;
								categoria = document.getElementById("categoria").value;
								tamaño = document.getElementById("tamaño").value;
								if (precio.length!=0||descripcion!=""||categoria!=""||tamaño!=""||nombre!=""){
									alert("agregado exitosamente");
									return true;
								}
							}
						</script>

						<input class="green" type="submit" value="Registrar" onclick="validar">
					</form>
					<a th:href="@{/alimentos/cancel}">
						<button class="red" type="submit">Cancelar Registro</button>
					</a>
				</div>
			</div>
    </body>
</html>
