<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Last-Modified" content="0">
        <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
        <meta http-equiv="Pragma" content="no-cache">

        <title>FOOD - Venta</title>

        <link href="../static/css/todo.css" th:href="@{/css/todo.css}" rel="stylesheet" type="text/css">
        <link href="../static/css/venta.css" th:href="@{/css/venta.css}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="../static/imgs/icono-2.ico" th:href="@{/imgs/icono-2.ico}" rel="shortcut icon">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!--Este JS utiliza funciones de JQuery, por lo que se debe de importar despues de este-->
        <script type="text/javascript" src="../static/js/venta.js" th:src="@{'/js/venta.js'}"></script>
	</head>
	<body>
    <nav>
        <img class="logo" src="/imgs/logo.jpg" th:src="@{/imgs/logo.jpg}">
        <span class="menu-item"><a href="/../venta"><b>Venta</b></a></span>
        <hr class="menu-separator" size=2 color="#FFFF66">
        <span class="menu-item"><a href="/../alimentos/consultaAlimentos"><b>Alimentos</b></a></span>
        <!--
        <span class="menu-item" onClick="show('al','f1')"><img class="arrow" id="f1" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Alimentos</b></span>
        <div class="submenu" id="al">
            <ul>
                <li><a href="/../alimentos/registrarAlimento">Registro</a></li>
                <li><a href="/../alimentos/consultaAlimentos">Consulta</a></li>
            </ul>
        </div>
        -->
        <span class="menu-item"><a href="/../promociones/consultaPromociones"><b>Promociones</b></a></span>
        <!--
        <span class="menu-item" onClick="show('pr','f2')"><img class="arrow" id="f2" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Promociones</b></span>
        <div class="submenu" id="pr">
            <ul>
                <li><a href="/../promociones/registrarPromocion">Registro</a></li>
                <li><a href="/../promociones/consultaPromociones">Consulta</a></li>
            </ul>
        </div>
        -->
        <span class="menu-item"><a href="/../clientes/consultaClientes"><b>Clientes</b></a></span>
        <!--
        <span class="menu-item" onClick="show('cl','f3')"><img class="arrow" id="f3" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Clientes</b></span>
        <div class="submenu" id="cl">
            <ul>
                <li><a href="/../clientes/modificarCliente">Modificación</a></li>
            </ul>
        </div>
        -->
        <hr class="menu-separator" size=2 color="#FFFF66">
        <span class="menu-item"><a href="/../gasto/muestraGasto"><b>Registro de Gastos</b></a></span>
        <hr class="menu-separator" size=2 color="#FFFF66">
        <span class="menu-item"><a href="/../corteCaja/actual"><b>Corte de Caja</b></a></span>
        <span class="menu-item"><a href="/../corteCaja/historial"><b>Historial de Corte</b></a></span>
        <!--
        <span class="menu-item" onClick="show('cc','f4')"><img class="arrow" id="f4" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Corte de Caja</b></span>
        <div class="submenu" id="cc">
            <ul>
                <li><a href="/../corteCaja/actual">Generar actual</a></li>
                <li><a href="/../corteCaja/historial">Consultar historial</a></li>
            </ul>
        </div>
        -->
        <hr class="menu-separator" size=2 color="#FFFF66">
        <span class="menu-item"><a href="/../configuracion/sistema"><b>Configuración</b></a></span>
        <span class="menu-item"><a href="/../configuracion/acceso"><b>Control Usuarios</b></a></span>
        <!--
        <span class="menu-item" onClick="show('co','f5')"><img class="arrow" id="f5" src="/imgs/expand-button.png" th:src="@{/imgs/expand-button.png}"><b>Configuración</b></span>
        <div class="submenu" id="co">
            <ul>
                <li><a href="/../configuracion/sistema">Sistema</a></li>
                <li><a href="/../configuracion/acceso">Acceso</a></li>
            </ul>
        </div>
        -->
    </nav>
    <span th:if="${result==0}"> <script>alert("Funciono");</script></span>
        <div class="container">
        	<b class="titulo">Venta de alimentos</b>
			<div class="rol">
				<a href="#">
					<img class="icon" src="/imgs/logout.png" th:src="@{/imgs/logout.png}">
				</a>
				<b>Gerente</b>
			</div>
            <hr size=4 color="#CCCCCC">

            <form action="#" th:action="@{/venta/addCliente}" th:object="${clienteModel}" method="post">
            	Número de teléfono:
            	<input type="number" size="20" th:field="*{telefono}" th:value="${telefono}" placeholder="1112223344">
                <button class="yellow" type="submit" size="20" name="action" value="buscar">Buscar</button>
                <div class="registrar">
                	<b>¿Cliente nuevo?</b>
                    <button class="yellow" type="submit" size="20" name="action" value="registrar">¡Registralo!</button>
                </div><br>
                Nombre del cliente:
                <input type="text" class="nom" th:field="*{nombre}" th:value="${nombre}" placeholder="Nombre(s)">
                <input type="text" class="app" th:field="*{apellidos}" th:value="${apellidos}" placeholder="Apellido(s)"><br>
                Dirección:
                <input type="text" class="dir" th:field="*{direccion}" th:value="${direccion}" placeholder="Calle, Número, Colonia"><br>
                Correo:
                <input type="text" class="dir" th:field="*{correo}" th:value="${correo}" placeholder="usuario@dominio"><br>
                Puntos:
                <input type="number" th:field="*{puntos}" th:value="${puntos}" readonly>
                RFC:
                <input type="text" th:field="*{RFC}" th:value="${RFC}" placeholder="XXXX000000" maxlength="15"><br>
            </form>

            <form>
                <hr size=4 color="#CCCCCC">
                DETALLES DE LA ORDEN
                <hr size=4 color="#CCCCCC">
                <!--
                <aside>
                	<table>
                		<thead>
                    		RESUMEN DE LA ORDEN <img class="list" src="/imgs/check-list.png" th:src="@{/imgs/check-list.png}">
                    	</thead>
                    	<hr size=4 color="#CCCCCC">
                    	<tbody>
                    		<tr>
                    			<th>Cant</th>
                            	<th>Descripción</th>
                            	<th>Precio</th>
                            	<th>Total</th>
                                <th></th>
                        	</tr>
                        	<tr>
                        		<td>2</td>
                            	<td>Rebanada Peperonni</td>
                            	<td>40.00</td>
                            	<td>80.00</td>
                                <td><img class="cross" src="/imgs/cancel.png" th:src="@{/imgs/cancel.png}"><td>
                        	</tr>
                        	<tr>
                        		<td>1</td>
                            	<td>Pasta Alfredo</td>
                            	<td>80.00</td>
                            	<td>80.00</td>
                                <td><img class="cross" src="/imgs/cancel.png" th:src="@{/imgs/cancel.png}"><td>
                        	</tr>
                            <tr>
                            	<td>1</td>
                                <td>
                                	<i>Dúo 2 X 1</i><br>
                                    Personal carnes<br>
                                    Agua del día
                                </td>
                                <td>100.00</td>
                                <td>100.00</td>
                                <td><img class="cross" src="/imgs/cancel.png" th:src="@{/imgs/cancel.png}"><td>
                            </tr>
                    	</tbody>
                    	<tr>
                        	<td></td>
                           	<td></td>
                           	<td>Total</td>
                           	<td>$120.00</td>
                        </tr>
                	</table>
                </aside>
                -->
            </form>

            <!--AÑADIR ALIMENTO A LA LISTA DE COMPRA-->
            <img class="cat" src="/imgs/dishes.png" th:src="@{/imgs/dishes.png}">
            Alimentos
            <br>
            <select id="selectAlimento">
                <option th:each="alimento : ${alimentos}" th:value="${alimento.id}" th:text="${alimento.nombre + ' ' + alimento.tamano}"></option>
            </select>
            <br>
            <input class="agregar" type="submit" value="Agregar alimento" id="addAlimento" onClick="addAlimento()">
            <br><br>

            <!--AÑADIR PROMOCION A LA LISTA DE COMPRA-->
            <img class="cat" src="/imgs/discount.png" th:src="@{/imgs/discount.png}">
            Promociones
            <br>
            <select id="selectPromocion">
                <option th:each="promocion : ${promociones}" th:value="${promocion.id}" th:text="${promocion.nombre}"></option>
            </select>
            <input class="agregar" type="submit" value="Agregar promoción" id="addPromocion" onClick="findPromocion()">
            <br><br>

            <form action="#" th:action="@{/venta/addVenta}" th:object="${reciboModel}" method="post">
                <table>
                    <tbody>
                    <!--<tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Importe</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <input class="precio" type="number">
                        </td>
                        <td>
                            <input class="venta" type="text">
                        </td>
                        <td>
                            <input class="precio" type="number">
                        </td>
                        <td>
                            <input class="show_precio" type="number" readonly>
                        </td>
                        <td>
                            <input class="show_precio" type="number" readonly>
                        </td>
                        <td>
                            <img class="cross" src="/imgs/cancel.png" th:src="@{/imgs/cancel.png}">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="total">Total: $</td>
                        <td>100.00</td>
                    </tr>-->
                    <tr>
                        <td colspan="3">
                            <img class="cat" src="/imgs/food.png" th:src="@{/imgs/food.png}">
                            <br>
                            Elija el tipo de orden:
                            <br>
                            <input type="radio" name="orden" value="L" th:field="*{tipoOrden}" required>Local
                            <input type="radio" name="orden" value="D" th:field="*{tipoOrden}">Domicilio
                        </td>
                        <td colspan="3">
                            <img class="cat" src="/imgs/debit-card.png" th:src="@{/imgs/debit-card.png}">
                            <br>
                            Elija el método de pago:
                            <br>
                            <input type="radio" name="metodo" value="E" th:field="*{metodoPago}" required>Efectivo
                            <input type="radio" name="metodo" value="T" th:field="*{metodoPago}">Tarjeta
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">

                        </td>
                        <td colspan="3">
                            Marca la casilla si el cliente requiere cambio
                            <input type="checkbox" name="cambio" value="1">
                            <br>
                            Cantidad de cambio: $
                            <input class="precio" type="number" name="dinero">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <input class="green" type="submit" value="Finalizar compra">
                <input class="red" type="submit" value="Cancelar compra">
            </form>
        </div>
    </body>
</html>
